min-height : 20000em;



.threeD {
  z-index: -10
	display: inline;
}


p {
    margin: 0;
    padding:10px;
    font-family: 'Old Standard TT', serif;
    color: #233a24;
}


h1,h2,h3,h4 {
    font-family: 'Old Standard TT', serif;
    color: Grey;
}


h1 {
    font-size: 2em;
}

.chart {
  min-height: inherit;
  z-index: 0;
  overflow: visible;
}


.chart rect:hover {
    fill: #FFFFE5;
		stroke: black;
}


.chart text {
    font-family: 'Old Standard TT', serif;
    font-size: 10;
    text-anchor: middle;
    color: #8EE181;
}



#chartContainer{
  min-height: inherit;
  display: flex;
  justify-content: center;
  overflow: visible;
}
