
p{
    font-family: 'Old Standard TT', serif;
    color: #8EE181;
}


h1,h2,h3,h4{
    font-family: 'Old Standard TT', serif;
    color: DarkestGrey;
}
h1{
    font-size: 2em;
}

.chart rect{
    fill: #B8C4CC;
}
.chart text{
    font-family: 'Old Standard TT', serif;
    text-anchor: middle;
    color: #8EE181;
}



<link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
